<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Weixin-java-tool-suite" verbose="1">
	<test name="API_Test">
		<classes>
			<class name="chanjarster.weixin.api.WxBaseAPITest" />
			<class name="chanjarster.weixin.api.WxCustomMessageAPITest" />
			<class name="chanjarster.weixin.api.WxMenuAPITest" />
			<class name="chanjarster.weixin.api.WxGroupAPITest" />
			<class name="chanjarster.weixin.api.WxMassMessageAPITest" />
			<class name="chanjarster.weixin.api.WxMediaAPITest" />
			<class name="chanjarster.weixin.api.WxUserAPITest" />
			<class name="chanjarster.weixin.api.WxQrCodeAPITest" />
			<class name="chanjarster.weixin.api.WxShortUrlAPITest" />
			<class name="chanjarster.weixin.api.WxMessageRouterTest" />
		</classes>
	</test>

	<test name="Bean_Test">
		<classes>
			<class name="chanjarster.weixin.bean.WxAccessTokenTest" />
			<class name="chanjarster.weixin.bean.WxCustomMessageTest" />
			<class name="chanjarster.weixin.bean.WxErrorTest" />
			<class name="chanjarster.weixin.bean.WxMenuTest" />
			<class name="chanjarster.weixin.bean.WxXmlMessageTest" />
			<class name="chanjarster.weixin.bean.WxXmlOutImageMessageTest" />
			<class name="chanjarster.weixin.bean.WxXmlOutIMusicMessageTest" />
			<class name="chanjarster.weixin.bean.WxXmlOutINewsMessageTest" />
			<class name="chanjarster.weixin.bean.WxXmlOutIVideoMessageTest" />
			<class name="chanjarster.weixin.bean.WxXmlOutIVoiceMessageTest" />
			<class name="chanjarster.weixin.bean.WxXmlOutTextMessageTest" />
		</classes>
	</test>
</suite>