<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Weixin-java-tool-suite" verbose="1">
	<test name="API_Test">
		<classes>
			<class name="me.chanjar.weixin.enterprise.api.WxCpBaseAPITest" />
			<class name="me.chanjar.weixin.enterprise.api.WxCpMessageAPITest" />
			<class name="me.chanjar.weixin.enterprise.api.WxCpMenuAPITest" />
			<class name="me.chanjar.weixin.enterprise.api.WxCpDepartAPITest" />
			<class name="me.chanjar.weixin.enterprise.api.WxCpMediaAPITest" />
			<class name="me.chanjar.weixin.enterprise.api.WxCpMessageRouterTest" />
            <class name="me.chanjar.weixin.enterprise.api.WxCpTagAPITest" />
            <class name="me.chanjar.weixin.enterprise.api.WxCpUserAPITest" />
        </classes>
	</test>

	<test name="Bean_Test">
		<classes>
			<class name="me.chanjar.weixin.common.bean.WxAccessTokenTest" />
			<class name="me.chanjar.weixin.enterprise.bean.WxCpMessageTest" />
			<class name="me.chanjar.weixin.enterprise.bean.WxErrorTest" />
			<class name="me.chanjar.weixin.enterprise.bean.WxCpMenuTest" />
			<class name="me.chanjar.weixin.enterprise.bean.WxCpXmlMessageTest" />
			<class name="me.chanjar.weixin.enterprise.bean.WxCpXmlOutImageMessageTest" />
			<class name="me.chanjar.weixin.enterprise.bean.WxCpXmlOutNewsMessageTest" />
			<class name="me.chanjar.weixin.enterprise.bean.WxCpXmlOutVideoMessageTest" />
			<class name="me.chanjar.weixin.enterprise.bean.WxCpXmlOutVoiceMessageTest" />
			<class name="me.chanjar.weixin.enterprise.bean.WxCpXmlOutTextMessageTest" />
            <class name="me.chanjar.weixin.enterprise.util.crypto.WxCryptUtilTest" />
		</classes>
	</test>
</suite>
